/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

/* This places the logoNav block and the text block in their places */
.logoNavAndText {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("../images/home/showcase.jpg") no-repeat center center/cover;
  color: #fff;
  position: relative;
  padding: 20px 30px;
}

/* This is just to place the logo and then the nav */
.logoAndNav {
  display: flex;
  justify-content: space-between;
}

.top {
  background: transparent;
}

/* This is for the nav */
.nav ul {
  display: flex;
}

.nav a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.nav a:hover {
  border-bottom: #28a745 2px solid;
}

/* Just for the logo and text next to it */
.logo {
  display: flex;
  font-weight: 400;
}

.logo i {
  color: #28a745;
  padding-right: 10px;
}

/* This is for the header text */
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* This is key to center it vertically */
  text-align: center;
  padding: 0 20px;
}

.header-text h1 {
  font-size: 55px;
}

.header-text p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

/* These two are for the overlay */
.logoNavAndText::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.logoNavAndText * {
  z-index: 10;
}

/* Services */

.services {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 70px 10px;
}

.service i {
  background-color: #28a745;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
}

.service h2 {
  font-weight: 400;
  margin: 20px 0;
}

.service {
  padding-bottom: 50px;
}

/* Split */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #28a745;
  color: #fff;
}

.split img {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.split-text {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.split-text h1 {
  font-size: 35px;
}

.split-text a {
  margin-top: 15px;
}

/* Business cases */
.business-cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.business-cases h3 {
  font-size: 15px;
  margin-top: 20px;
}

.business-cases h1 {
  font-size: 35px;
  margin-top: 20px;
}

.business-cases p {
  margin-top: 20px;
}

/* Cases gallery */

.gallery-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.gallery-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.gallery-column img {
  padding: 0.3rem;
}

.gallery-column img:hover {
  opacity: 0.7;
}

/* blog post one section */
.blog-post {
  display: flex;
  flex-direction: row;
}

.blog-post-side-img {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-post-content {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.blog-post-content h4 {
  font-size: 15px;
}

.blog-post-content h1 {
  margin-top: 15px;
  font-size: 40px;
}

.blog-post-content p {
  margin-top: 15px;
}

.blog-post-content a {
  margin-top: 15px;
}

/* Team */
.team {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.team-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.team-header h4 {
  font-size: 15px;
}

.team-header h1 {
  font-size: 40px;
}

.team-header > * {
  margin-top: 20px;
}

.team-boxes-container {
  display: flex;
  flex-direction: row;
}

.team-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.team-box h4 {
  margin-top: 15px;
}

.team-box img {
  border-radius: 50%;
}

/* Callback */

.callback {
  display: flex;
  flex-direction: row;
}

.callback-image {
  display: flex;
  flex: 1;
}

.callback-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.callback-form h1 {
  font-size: 40px;
}

.cb-form-actual {
  width: 100%;
  margin-top: 10px;
}

.cb-form-actual label {
  display: block;
  margin-bottom: 5px;
}

.cb-form-actual .form-control {
  margin-bottom: 15px;
}

.cb-form-actual input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f4f4f4 1px solid;
}

.cb-form-actual input:focus {
  outline-color: #28a745;
}

.cb-form-actual .btn {
  padding: 12px 0;
  margin-top: 20px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #fff;
}

.social-icons {
  margin-bottom: 15px;
}

.footer a {
  color: #fff;
  padding: 15px;
}

.footer a:hover {
  color: #28a745;
}

/* Mobile */
@media (max-width: 768px) {
  /* Header */
  .logoAndNav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav a {
    padding: 5px 10px;
    margin: 0 3px;
  }

  /* Services */
  .services {
    flex-direction: column;
  }

  .business-cases {
    text-align: center;
  }

  .gallery-row {
    flex-direction: column;
  }

  .blog-post {
    flex-direction: column-reverse;
  }

  .team-header {
    text-align: center;
  }

  .team-boxes-container {
    flex-direction: column-reverse;
  }

  .team-box img {
    width: 75%;
  }

  .callback {
    flex-direction: column;
  }
}

/* Blog page */

.blog-header .logoNavAndText {
  display: flex;
  flex-direction: column;
  height: 30vh;
  background: url("../images/home/blog.jpg") no-repeat center center/cover;
  color: #fff;
  padding: 20px 30px;
}

.blog-page.blog-post {
}
