/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

/* This places the logoNav block and the text block in their places */
.logoNavAndText {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("../images/home/showcase.jpg") no-repeat center center/cover;
  color: #fff;
  position: relative;
  padding: 20px 30px;
}

/* This is just to place the logo and then the nav */
.logoAndNav {
  display: flex;
  justify-content: space-between;
}

.top {
  background: transparent;
}

/* This is for the nav */
.nav ul {
  display: flex;
}

.nav a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.nav a:hover {
  border-bottom: #28a745 2px solid;
}

/* Just for the logo and text next to it */
.logo {
  display: flex;
  font-weight: 400;
}

.logo i {
  color: #28a745;
  padding-right: 10px;
}

/* This is for the header text */
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* This is key to center it vertically */
  text-align: center;
  padding: 0 20px;
}

.header-text h1 {
  font-size: 55px;
}

.header-text p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

/* These two are for the overlay */
.logoNavAndText::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.logoNavAndText * {
  z-index: 10;
}
